# Process Authenticator startup
service proca /vendor/bin/vendor.samsung.hardware.security.proca@2.0-service
    class early_hal
    user system
    group system
    disabled

on property:sys.mobicoredaemon.enable=true
    start proca

on late-fs
    wait_for_prop vendor.sys.mobicoredaemon.enable true
    start proca
